<%- include ('nav/header')  %>        
<!-- Sidebar Page -->
<%- include('nav/sidebar') %>

<button type="button" class="btn btn-gradient-primary btn-rounded btn-fw f-r m-b-20" id="addbutton" onclick="addContractor(1)">New</button>
 <br/>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">EIC Master</h4>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> User </th>
                        <th> Work Spot </th>
                        <th> Area Of Work </th>
                        <th> Entry Gate </th>
                        <th> Time Of Work </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="py-1">
                            <img src="assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>


                        <td> Chennai </td>
                        <td> Node </td>
                        <td> Main </td>
                        <td> 10AM </td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            <img src="assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>


                        <td> Bangalore </td>
                        <td> PHP </td>
                        <td> Main </td>
                        <td> 11AM </td>
                    </tr>
                    <tr>
                        <td class="py-1">
                            <img src="assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>


                        <td> Kerala </td>
                        <td> JS </td>
                        <td> Main </td>
                        <td> 9AM </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Footer Page-->
<%- include('nav/footer') %>