<%- include ('../nav/header')  %>        
<!-- Sidebar Page -->
<%- include('../nav/sidebar') %>

  <!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reports</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
  <div class="content-wrapper">
		<div class="row">
	 <div class="col-12 grid-margin stretch-card">
			<div class="card">
			  <div class="card-body">
				<h4 class="card-title">WorkOrder Report</h4>
				
				<form class="form-inline">
				  <label class="sr-only" for="inlineFormInputName2">Work Order</label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="work_order" name="work_order"  placeholder="work_order">
				  <label class="sr-only" for="inlineFormInputName2">Work Order</label>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="work_order" name="work_order"  placeholder="work order">
				  
				 
 				  <button type="submit" class="btn btn-gradient-primary mb-2">Go</button>
 				  <input type="hidden" name="msent" id="msent" />
						
						<div class="col-sm-12 text-right">
					
				 	   <div class="w3-show-inline-block">
  <div class="w3-bar"> 
					
					<button type="button" class="btn btn-gradient-info btn-icon-text" onclick="window.print();"> Print <i class="mdi mdi-printer btn-icon-append"></i>
					  </button>
					 
					 
					  <button type="button" class="btn btn-gradient-info btn-icon-text" onclick="window.excel();"> Excel <i class="mdi mdi-excel btn-icon-append"></i>
					  </button>
					</div>
					</div> 
  </div>
				</form>
			  </div>
			</div>
		  </div>
		  
		  
		  <!-- Footer Page-->
<%- include('../nav/footer') %>
		  
		  