<%- include ('../nav/header') %>
	<!-- Sidebar Page -->
	<%- include('../nav/sidebar') %>
		<div class="content-wrapper">
			<div class="col-lg-13 grid-margin stretch-card" id="table">
				<div class="card overflow-x overflow-y-hidden">
					<div class="card-body">

						<h4 class="card-title">Contractor PassRequest</h4>

						<form class="form-inline" method="POST" action="/pass/pass_request_1new">
							<label class="sr-only" for="inlineFormInputName2">Contractor Code</label>
							<input type="text" class="form-control mb-2 mr-sm-2" id="contractor_code"
								name="contractor_code" placeholder="contractor code">
							<label class="sr-only" for="inlineFormInputName2">Contractor_name</label>
							<input type="text" class="form-control mb-2 mr-sm-2" id="contractor_name"
								name="Contractor_name" placeholder="contractor name">
							<label class="sr-only" for="inlineFormInputName2">Workorder No</label>
							<input type="text" class="form-control mb-2 mr-sm-2" id="workorder_no" name="workorder_no"
								placeholder="workorder_no">
							<button type="submit" onclick="showDetails()" class="btn btn-gradient-primary mb-2">Go</button>
						</form>
					</div>


					<div class="col-sm-11 text-right">
						<div class="w3-show-inline-block">
							<div class="w3-bar">
								<button type="button" class="btn btn-gradient-info btn-icon-text"
									onclick="window.print();">Print<i class="mdi mdi-printer btn-icon-append"></i>
								</button>
							</div>
						</div>
					</div>

					<div class="col-lg-12 grid-margin stretch-card" id="table">
						<div class="card overflow-x overflow-y-hidden">
							<div class="card-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>ID</th>
											<th>Contractor Code</th>
											<th>Employee Name</th>
											<th>Name</th>
											<th>check</th>
										</tr>
									</thead>
									<tbody>
										<td>1001</td>
										<td>CT-001</td>
										<td>Nisho</td>
										<td>Nisho</td>
										<td><input type="checkbox" /></td>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<!-- Footer Page-->
					<%- include('../nav/footer') %>