<%- include ('../nav/header') %>
    <!-- Sidebar Page -->
    <%- include('../nav/sidebar') %>
	
	
	 <div class="content-wrapper">
		<div class="col-lg-12 grid-margin stretch-card" id="table">
			<div class="card overflow-x overflow-y-hidden">
			
    <div class="card-body">
        <h4 class="card-title">Attendance Report</h4>

       <form class="form-inline" method="POST" action="/attendanceReport/attendanceReport">
            <label class="sr-only" for="Contractor">Contractor</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="Contractor" name="Contractor" placeholder="Contractor">
            <label class="sr-only" for="Month">Month</label>
			 <input type="text" class="form-control mb-2 mr-sm-2" id="month" name="month" placeholder="Month">
            <button type="submit" class="btn btn-gradient-primary mb-2">Go</button>
        </form>
    </div>
	 <div class="col-sm-12 text-right">
					
				 	   <div class="w3-show-inline-block">
  <div class="w3-bar"> 
					
					<button type="button" class="btn btn-gradient-info btn-icon-text" onclick="window.print();"> Print <i class="mdi mdi-printer btn-icon-append"></i>
					  </button>
					 
					 
					  <button type="button" class="btn btn-gradient-info btn-icon-text" onclick="window.excel();"> Excel <i class="mdi mdi-excel btn-icon-append"></i>
					  </button>
					</div>
					</div> 
  </div>
		
					
<table class="table table-bordered"> 				
<thead>
  <p align="left">
					
<h5>Shift MIS Report</br>
For The Contractor:</br>
For The Date:01-- TO 31--</h5>

</p>

</thead>
<tbody>
<tr>
 
					<td>SNO</td> 
					<td>Contractor Name</td>
					<td>Employee ID</td>
					<td>EMPCODE Code</td>
					<td>Employee Name</td>
					<td>Shift date</td>
					<td>Shift</td>
					<td>IN</td>
					<td>OUT</td>
					<td>PO NUM</td>
</tr> 

</tbody>
</table>
</div>
</div>
</div>
        <!-- Footer Page-->
        <%- include('../nav/footer') %>