<div class="container-fluid page-body-wrapper">
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <!--Menu Master-->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#menu" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Masters</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-file-document-box menu-icon"></i>
        </a>
        <div class="collapse" id="menu">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/Engineer">Engineer</a></li>
            <li class="nav-item"> <a class="nav-link" href="/shift">Shift</a></li>
            <li class="nav-item"> <a class="nav-link" href="/gate">Gate</a></li>
          </ul>
        </div>
      </li>
      <!--Contractor Master-->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#contractor" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Contractor</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-account-multiple menu-icon"></i>
        </a>
        <div class="collapse" id="contractor">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/contractornew">Contractor Master</a></li>
            <li class="nav-item"> <a class="nav-link" href="/contractor_Mail">Contractor Mail Master</a></li>
            <li class="nav-item"> <a class="nav-link" href="/workordernew">Work Order</a></li>
            <li class="nav-item"> <a class="nav-link" href="/employeenew">Employee</a></li>
            <li class="nav-item"> <a class="nav-link" href="/employeetransfernew">Transfer</a></li>
            <li class="nav-item"> <a class="nav-link" href="/changerequestlist">Change Request</a></li>
          </ul>
        </div>
      </li>
      <!--Pass-->
<!--       <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#pass" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Pass</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-account-card-details menu-icon"></i>
        </a>
        <div class="collapse" id="pass">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/passrequest_one">Pass Request 1</a></li>
            <li class="nav-item"> <a class="nav-link" href="/passrequest_two">Pass Request 2</a></li>
            <li class="nav-item"> <a class="nav-link" href="/passrequest_three">Pass Request 3</a></li>
            <li class="nav-item"> <a class="nav-link" href="/print_pass">Pass Print</a></li>
          </ul>
        </div>
      </li> -->
      <!--Attendance-->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#attendance" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Attendance</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-border-color menu-icon"></i>
        </a>
        <div class="collapse" id="attendance">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/attendance">Attendance</a></li> 
            <li class="nav-item"> <a class="nav-link" href="/a_in_out">Attendance In-Out</a></li>
          <li class="nav-item"> <a class="nav-link" href="/a_edit">Contractor MIS Reports</a></li> 
          </ul>
        </div>
      </li>
      <!--Pay Roll-->
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#payroll" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Pay Roll</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-book-open-page-variant menu-icon"></i>
        </a>
        <div class="collapse" id="payroll">
          <ul class="nav flex-column sub-menu">
            <!--<li class="nav-item"> <a class="nav-link" href="/pay_roll_generation">Pay Roll Generation</a></li>-->
            <li class="nav-item"> <a class="nav-link" href="/pay_roll_generationnew">Pay Roll Generation</a></li>
            <li class="nav-item"> <a class="nav-link" href="/wage_slip">Wage Slip 1</a></li>
            <li class="nav-item"> <a class="nav-link" href="/work_order_billing">Wage Slip 2</a></li>
            <li class="nav-item"> <a class="nav-link" href="/form_b_wage_register">Form B Wage Register</a></li>
            <li class="nav-item"> <a class="nav-link" href="/form_d">Form D Attendance Reg</a></li>
           <!--  <li class="nav-item"> <a class="nav-link" href="/a_report">Attendance Report</a></li> -->
            <!-- <li class="nav-item"> <a class="nav-link" href="/mail_report">Mail & Report</a></li> -->
            <li class="nav-item"> <a class="nav-link" href="/deduction">Deduction</a></li>
            <li class="nav-item"> <a class="nav-link" href="/pay_roll_close">Payroll Close</a></li>
          </ul>
        </div>
      </li>
      <!--Reports-->
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#reports" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Reports</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-pencil-box-outline menu-icon"></i>
        </a>
        <div class="collapse" id="reports">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/contractor_master_reports">Contractor Master Reports</a></li>
            <li class="nav-item"> <a class="nav-link" href="/employee_reports_routes">Employee Reports</a></li>
            <li class="nav-item"> <a class="nav-link" href="/in_out_reports">In-Out Reports</a></li>
            <li class="nav-item"> <a class="nav-link" href="/work_order_reports">Work Order Reports</a></li>
            <li class="nav-item"> <a class="nav-link" href="/eic_reports">EIC Reports</a></li>
          </ul>
        </div>
      </li> -->
      <!--Admin-->
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Admin</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-pencil-box-outline menu-icon"></i>
        </a>
        <div class="collapse" id="admin">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/register">Register</a></li>
          </ul>
        </div>
      </li> -->

      <!-- ROLE -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#role" aria-expanded="false" aria-controls="ui-basic">
          <span class="menu-title">Role</span>
          <i class="menu-arrow"></i>
          <i class="mdi mdi-pencil-box-outline menu-icon"></i>
        </a>
        <div class="collapse" id="role">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/role_new">Role New</a></li>
          </ul>
        </div>
      </li> -->

    </ul>
  </nav>
  <div class="main-panel">
    <div class="main-panel" style="width: 100%;">
      <div class="content-wrapper">
    <!-- Body Page-->
      <div class="container-fluid">
        <!-- Footer Page-->