<%- include ('../nav/header') %>
	<!-- Sidebar Page -->
	<%- include('../nav/sidebar') %>
	<style>
		table {
			border: 1px solid;
			font-size: 0.7rem;
			counter-reset: rowNumber;
		}
		table th {
			border: 1px solid;
			padding: 10px;
		}
		table td {
			border: 1px solid;
		}
		.p-15{
			padding: 15px;
		}
		
	</style>

<div id="overlay">
	<!--Upload Excel-->
	<div class="card cardaligns" id="table">
		<div class="card-body cardinside">
			<a href="/Employee_Daily_Attendance">Download Template</a></p>
			<section id="upload-data-panel" class="sectionalign">
				<form id="upload-form" action="/excel_upload/attendance_in_out" method="post"
					enctype="multipart/form-data">

					<fieldset>
						<legend>Upload Data</legend>
						<div class="uploadalign">
							<!-- The name here is important, and will be used later to reference the data -->
							<input type="file" name="csvdata" accept="text/cvs">
						</div>
						<div class="uploadbtnalign">
							<input type="submit" class="btn btn-gradient-danger btn-icon-text" value="Upload" />
						</div>
					</fieldset>
				</form>
			</section>
		</div>
	</div>

	<div class="content-wrapper">
		<div class="col-lg-20 grid-margin stretch-card" id="table">
			<div class="card tablecard">
				<div class="card" id="newform">
					<div class="card-body">
						<h4 class="card-title titlealign">Daily In-Out Report</h4>

						<form class="form-inline">
							<input list="cont_code" class="form-control" name="ccode" id="ccode" required>
							<datalist id="cont_code">
								<option value="0">ALL</option>
								<% conDetailsCode.forEach(function(concode){ %>
									<option value="<%= concode.CODE_NAME %>">
									</option>
									<%})%>
							</datalist>
							&nbsp;&nbsp;
							<!-- <label class="sr-only" for="from_date">From Date</label> -->
							<input type="date" class="form-control mb-2 mr-sm-2 mr-10" id="from_date"
								name="from_date" placeholder="from date">

							<!-- <label class="sr-only" for="to_date">To Date</label> -->

							<input type="date" class="form-control" id="to_date" name="to_date"
								placeholder="to date">
							&nbsp;&nbsp;
							<input type="button" class="btn btn-gradient-primary mb-2 mr-10" value="Go"
								onclick="get_contractor()" />
						</form>
					</div>

				</div>

				<div class="col-sm-12 text-right">
					<div class="w3-show-inline-block">
						<div class="w3-bar dis-none" id="btn_show">
							
							<!--<input type="button"  class="btn btn-danger btn-icon-text" value="Delete" onclick="AttDelete()">-->

							<button type="button" class="btn btn-gradient-info btn-icon-text"
								onclick="printDiv('att_print')"> Print <i
									class="mdi mdi-printer btn-icon-append"></i>
							</button>


							<a href="#" id="test" onclick="fnExcelReport();"
								class="btn btn-success btn-sm h-2p5_rem p-12"><span
									class="glyphicon glyphicon-download-alt"></span>Export to Excel</a>
						</div>
					</div>
				</div>
				<!--Loading Images-->
				<div class="preload loading_position">
					<img src="assets/loading/Hourglass.gif">
				</div>
				<button type="button" class="col-2 btn btn-info mr-35 m-l-335 dis-none" id="download"
					onclick="fnExcelReport('tableid')">
					<i class="mdi mdi-upload btn-icon-prepend"></i>Download</button>

				<div class="card-body">
					<!-- Search Filter-->
					<input type="search" placeholder="Search Here" class="form-control search-input"
						data-table="customers-list" />
					<br />
					<div id="att_print">
						<table id="tableid" class="customers-list">
							<thead id="in_head">
							</thead>
							<tbody id='in_outdatas'>

							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

	<!-- Footer Page-->
	<%- include('../nav/footer') %>

	<!--Initial Loading-->
	<script type="text/javascript">
		window.onload = function () {
			$(".preload").hide();
			document.getElementById("overlay").style.display = "block";
		};
	</script>
    <!--attendacne Delete-->
	<script>
		function AttDelete() {
			var contractor_code = document.getElementById("ccode").value;
			var from_date = document.getElementById("from_date").value;
			//alert(from_date)
			var to_date = document.getElementById("to_date").value;
			//alert(month);
			//alert(year);
			 if (confirm("Are you sure you want to delete Attendance for this contract")) {
			// Delete Employee
			$.ajax({
				type: 'POST',
				data: { contractor_code: contractor_code, from_date: from_date, to_date: to_date},
				url: '/attendance/delete',
				success: function(data){
					//console.log(data);
					alert(data+"-->Deleted Successfully");
					//location.reload();
				}
			});
			} else {
			// Do nothing
			} 
		}
	</script>
	<!--Table Append-->
	<script>
		function get_contractor() {
			$(".preload").show();
			var contractor_code = document.getElementById("ccode").value;
			var from_date = document.getElementById("from_date").value;
			//alert(from_date)
			var to_date = document.getElementById("to_date").value;
			//alert(contractor_code);
			document.getElementById('btn_show').style.display = "block";
			if(contractor_code == 0){
				//alert(contractor_code);
				document.getElementById("download").style.display = "block";
				$.ajax({
					type: 'POST',
					data: { contractor_code: contractor_code, from_date: from_date, to_date: to_date },
					url: '/contractor_attendance',
					success: function (data) {
						$(".preload").hide();
						//console.log(data);
						$('#in_outdatas').empty();
						$('#in_head').empty();
						$('#in_head').append(`
							<tr>
								<th colspan = '11'>Shift MIS Report</th>
							</tr>
							<tr>
								<th colspan = '11'>For The Contractor : ${data[0].CNAME}</th>
							</tr>
							<tr>
								<th colspan = '11'>From : "${from_date} To ${to_date}"</th>
							</tr>
							<tr>
								<th>SNO</th>
								<th>Employee Code</th>
								<th>Idcard No</th>
								<th>Employee Name</th>
								<th class='p-15'>Shift Date</th>
								<th>Shift</th>
								<th>IN</th>
								<th>Out</th>
								<th>Contractor Name</th>
								<th>Gate</th>
								<th>PO NUM</th>
							</tr>
						`);
						$.each(data, function (index, attendancedetails) {
							$('#in_outdatas').append('<tr><td>'+(index+1)+'</td><td>' + attendancedetails.EMPCODE + '</td><td>' + attendancedetails.IDCARDNO + '</td><td>' + attendancedetails.Employee_Name + '</td><td>' + attendancedetails.Shift_date+ '</td><td>' + attendancedetails.Shift + '</td><td>' + attendancedetails.IN + '</td><td>' + attendancedetails.Out + '</td><td>' + attendancedetails.CNAME + '</td><td>' + attendancedetails.Gate + '</td><td>' + attendancedetails.PO_NUM + '</td></tr>');
						});
					}
				});
			}else{
				$.ajax({
					type: 'POST',
					data: { contractor_code: contractor_code, from_date: from_date, to_date: to_date },
					url: '/contractor_attendance',
					success: function (data) {
						$(".preload").hide();
						//console.log(data);
						$('#in_outdatas').empty();
						$('#in_head').empty();
						$('#in_head').append(`
							<tr>
								<th colspan = '11'>Shift MIS Report</td>
							</tr>
							<tr>
								<th colspan = '11'>For The Contractor : ${data[0].CNAME}</td>
							</tr>
							<tr>
								<th colspan = '11'>From : "${from_date} To ${to_date}"</th>
							</tr>
							<tr>
								<th>SNO</th>
								<th>Employee Code</th>
								<th>Idcard No</th>
								<th>Employee Name</th>
								<th class='p-15'>Shift Date</th>
								<th>Shift</th>
								<th>IN</th>
								<th>Out</th>
								<th>Contractor Name</th>
								<th>Gate</th>
								<th>PO NUM</th>
							</tr>
						`);
						$.each(data, function (index, attendancedetails) {
							$('#in_outdatas').append('<tr><td>'+(index+1)+'</td><td>' + attendancedetails.EMPCODE + '</td><td>' + attendancedetails.IDCARDNO + '</td><td>' + attendancedetails.Employee_Name + '</td><td>' + attendancedetails.Shift_date+ '</td><td>' + attendancedetails.Shift + '</td><td>' + attendancedetails.IN + '</td><td>' + attendancedetails.Out + '</td><td>' + attendancedetails.CNAME + '</td><td>' + attendancedetails.Gate + '</td><td>' + attendancedetails.PO_NUM + '</td></tr>');
						});
					}
				});
			}
		}
	</script>

	<!--Table Sort-->
	<script>
		(function(document) {
			'use strict';

			var TableFilter = (function(myArray) {
				var search_input;

				function _onInputSearch(e) {
					search_input = e.target;
					var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
					myArray.forEach.call(tables, function(table) {
						myArray.forEach.call(table.tBodies, function(tbody) {
							myArray.forEach.call(tbody.rows, function(row) {
								var text_content = row.textContent.toLowerCase();
								var search_val = search_input.value.toLowerCase();
								row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
							});
						});
					});
				}

				return {
					init: function() {
						var inputs = document.getElementsByClassName('search-input');
						myArray.forEach.call(inputs, function(input) {
							input.oninput = _onInputSearch;
						});
					}
				};
			})(Array.prototype);

			document.addEventListener('readystatechange', function() {
				if (document.readyState === 'complete') {
					TableFilter.init();
				}
			});

		})(document);
	</script>

	
	<!--Excel Download-->
	<script>
		function fnExcelReport() {
			var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
			tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';
			tab_text = tab_text + '<x:Name>Test Sheet</x:Name>';
			tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
			tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
			tab_text = tab_text + "<table border='1px'>";

			// Remove Dynamic hidden controls.
			var list = $('#att_print').find('.ng-hide');
			for (var i = list.length - 1; 0 <= i; i--) {
				if (list[i] && list[i].parentElement) {
					list[i].parentElement.removeChild(list[i]);
				}
			}

			// Getting dynamic controll values.
			var list = $('#att_print').find('.dvItems');
			var values = "";
			for (var i = 0; i <= list.length - 1; i++) {
				if (list[i] && list[i].parentElement) {
					values += $(list[i]).text().trim();
				}
			}
			for (var i = 0; i <= list.length - 1; i++) {
				if (i == 0) {
					// Replace last comma and assign value.
					$($('#att_print').find('.dvItems')[i]).text(values.replace(/,\s*$/, ""));
				}
				else {
					$($('#att_print').find('.dvItems')[i]).text("");
				}
			}
			tab_text = tab_text + $('#att_print').html();
			tab_text = tab_text + '</table></body></html>';
			var data_type = 'data:application/vnd.ms-excel';
			var ua = window.navigator.userAgent;
			var msie = ua.indexOf("MSIE ");

			if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
				if (window.navigator.msSaveBlob) {
					var blob = new Blob([tab_text], {
						type: "application/vnd.ms-excel;charset=utf-8;"
					});
					navigator.msSaveBlob(blob, 'Coupon.xls');
				}
			} else {
				window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
			}
		}
	</script>

	<!--print funtion-->
	<script>
		function printDiv(att_print) {
			var mywindow = window.open('', 'PRINT', 'height=400,width=600');

			mywindow.document.write('<html><head><title></title>');
			mywindow.document.write('<style>table {border: 1px solid;border-collapse: collapse !important;}table td {border: 1px solid;}table th {border: 1px solid;padding: 10px;}.p-15{padding: 15px;}</style></head><body >');
			//mywindow.document.write('<h1>' + document.title + '</h1>');
			mywindow.document.write(document.getElementById(att_print).innerHTML);
			mywindow.document.write('</body></html>');

			mywindow.document.close(); // necessary for IE >= 10
			mywindow.focus(); // necessary for IE >= 10*/

			mywindow.print();
			mywindow.close();

			return true;
		}
	</script>