<%- include ('nav/header')  %>        
<!-- Sidebar Page -->
<%- include('nav/sidebar') %>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Register Form</h4>
        <form class="forms-sample">
            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Full Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="full_name" id="full_name" placeholder="Full Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">User Name</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="user_name" id="user_name" placeholder="User Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Email Id</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="email_id" name="email_id" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">User Group Code</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="user_group_code" name="user_group_code"
                        placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile No</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="mobile_no" name="mobile_no" placeholder="Mobile number">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label">Profile</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="profile" name="profile" placeholder="Mobile number">
                </div>
            </div>

            <div class="form-group row">
                <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="exampleInputConfirmPassword2"
                        placeholder="Password">
                </div>
            </div>

            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>

<!-- Footer Page-->
<%- include('nav/footer') %>