<%- include ('../nav/header') %>
	<!-- Sidebar Page -->
	<%- include('../nav/sidebar') %>
    <button class="btn btn-gradient-primary btn-rounded btn-fw f-r m-b-20" id="addbutton">PDF SEND</button>
    <br />

    <!--Footer-->
  
<%- include('../nav/footer') %>